<!--footer section with links to open a new tab for social media platforms-->
<div class="footer-sec">
    <a href="https://www.facebook.com" target="_blank" matTooltip="Facebook" matTooltipPosition="above">
        <img src="../../assets/images/facebook.png" alt="facebook">
    </a>

    <a href="https://www.instagram.com" target="_blank" matTooltip="Instagram" matTooltipPosition="above">
        <img src="../../assets/images/instagram.png" alt="instagram">
    </a>

    <a href="https://www.twitter.com" target="_blank" matTooltip="Twitter" matTooltipPosition="above">
        <img src="../../assets/images/twitter.png" alt="twitter">
    </a>
</div>
