<section>
    <div id="login-form">
        <h2>Admin has to login first to view orders list</h2>
        <div class="input">
            <mat-label>Login Id: </mat-label>
            <input name="emailId" [(ngModel)]="loginCode" placeholder="Enter Login Code" type="{{showPasswordType}}" required>

            <!--toggle the button for password visibility-->
            <button mat-icon-button (click)="togglePassword()" *ngIf="!showPassword"><mat-icon>visibility</mat-icon></button>
            <button mat-icon-button (click)="togglePassword()" *ngIf="showPassword"><mat-icon>visibility_off</mat-icon></button>
        </div>
        <div class="btn">
            <mat-hint *ngIf="loginMsg">Invalid Login Code</mat-hint><!--display the hint when the login failed-->
            <button mat-raised-button matTooltip="Login" color="accent" (click)="validateLoginCredentials()">Login</button>
        </div>
        <h4>If you are a customer <a routerLink="../">Click here</a> to go to Home page</h4>
    </div>
</section>
